*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #2736b1;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-size: 25px;
    color: red;
    background-color: chartreuse;
}
button{
    padding: 16px;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
}
#msg{
    font-size: 21px;
    color: rgb(16, 194, 16);
}
.msg-box{
    height: 25vmin;
}
.hide{
    display: none;
}